body{
    @extend %ubuntu-light;
    margin: 0;
    padding: 0;
    min-height: 320px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
    font-size: 17px;
    line-height: 26px;
}
.container{
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-section{
    background-image: url("../img/background/product-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    &:before{
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
        opacity: 0.15;
    }
    &__wrapper{
        z-index: 1;
        position: relative;
        min-height: 100vh;
        padding: 75px 0 60px;
    }
}
.title{
    @extend %sf-regular;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 55px;
    margin-left: 25px;
}
.scroll__btn{
    padding: 13px 0 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    cursor: pointer;
}