@media(max-width: 1366px){
    body{
        font-size: 16px;
        line-height: 22px;
    }
    .header{
        background: rgba(#1C1C1C, .9);
        padding: 25px 0;
        top: 0;
    }
    .top__title{
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 20px;
    }
    .top__inner img {
        width: 80%;
    }
    .top__text{
        margin: 15px 0 25px;
    }
    .title{
        padding-top: 50px;
    }
    .product__slider-box{
        padding-top: 0;
    }
    .scroll__btn{
        padding-bottom: 5px;
    }
    .product__slider-text{
        top: -105px;
        left: auto;
        bottom: auto;
        right: 0;
        font-size: 20px;
    line-height: 22px;
    }
    .benefits{
        .title{
            padding-top: 10px;
        }
    }
    .benefits__item{
        margin-bottom: 80px;
    }
    .specification__box-2{
        margin-top: 115px;
    }
    .specification__box-4{
        margin-top: 115px;
    }
    .specification__item--center{
        text-align: center;
        margin-top: -50px;
        img{
            width: 80%;
        }
    }
    .specification{
        .title{
            padding-top: 40px;
            margin-bottom: 17px;
        }
    }
}
@media(max-width: 1280px){
    .benefits__item{
        width: 45%;
    }
    .benefits__item:first-child:before{
        width: 40%;
    }
    .benefits__item:nth-child(3):before{
        width: 30%;
    }
    .benefits__item:nth-child(3):after{
        width: 80%;
    }
    .benefits__info{
        width: 35%;
    }
    .benefits__items{
        display: block;
    }
    .benefits__item{
        width: 100%;
        margin-bottom: 40px;
    }
    .benefits__item:nth-child(even){
        margin-left: 200px;
        transform: translateY(0);
    }
}
@media(max-width: 1160px){
    .specification__box-3:before{
        width: 190px;
        height: 78px;
        left: -230px;
        top: 44px;
    }
    .specification__box-2:before{
        width: 310px;
        height: 93px;
        right: -238px;
        top: -65px;
    }
}
@media(max-width: 1100px){
    .menu{
        order: 1;
    }
    .menu__list{
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#1C1C1C, .9);
        z-index: -1;
        display: flex;
        padding-top: 90px;
        padding-left: 30px;
        flex-direction: column;
        justify-content: space-around;
        transform: translateY(-1000%);
        transition: transform .3s;

        &--active{
            transform: translateY(0);
        }
    }
    .menu__btn{
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        &:before, &:after{
            content: "";
            height: 2px;
            background: #E0E0E0;
            display: block;
            transition: transform .3s;
        }
        &:before{
            margin-bottom: 4px;
            width: 24px;
        }
        &:after{
            width: 12px;
            margin-left: auto;
        }
    }
    .menu__list-item + .menu__list-item {
            padding-left: 0;
    }
    .menu__list-item{
        margin-bottom: 35px;
        &:first-child{
            margin-top: auto;
        }
    }
    .menu__list-phone{
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        padding-top: 33px;
        position: relative;
        margin-bottom: auto;
        margin-top: auto;
        &:before{
            content: "";
            position: absolute;
            border-top: 1px solid rgba(#fff, .24);
            top: 0;
            left: -24px;
            right: 0;
        }
    }
    .menu__btn-line{
        display: block;
        background: #E0E0E0;
        width: 25px;
        height: 2px;
        margin-bottom: 4px;
        opacity: 1;
        transition: opacity 1s;
    }
    .menu__btn.menu__btn--active{
        .menu__btn-line{
            opacity: 0;
            transition: opacity 0s;
        }
        &:after{
            width: 24px;
            transform: translateY(-6px) rotate(-135deg);
        }
        &:before{
            transform: translateY(6px) rotate(135deg);
        }
    }
    .header__phone{
        display: none;
    }
    .header__btn{
        margin-right: 0;
    }
    .product__text{
        padding-right: 15px;
    }
    .product__slider-box{
        padding-right: 20px;
    }
    .benefits__item:first-child:before,
    .benefits__item:nth-child(3):before,
    .benefits__item:nth-child(3):after{
        display: none;
    }
}
@media(max-width: 1024px){
    .title{
        padding-top: 50px;
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 35px;
    }
    .product__slider-text{
        font-size: 20px;
        line-height: 22px;
        top: -85px;
    }
    .specification__box-1:before,
    .specification__box-2:before,
    .specification__box-3:before,
    .specification__box-4:before{
        display: none;
    }
}
@media(max-width: 940px){
    .product__inner{
        display: block;
    }
    .product__text{
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 140px;
    }
    .product__slider{
        margin-left: auto;
    }
    .product__slider-box{
        padding-bottom: 80px;
    }
}
@media(max-width: 877px){
    .specification__box-2,
    .specification__box-4{
        margin-top: 50px;
    }
    .specification__inner{
        padding-left: 0;
    }
}
@media(max-width: 787px){
    .benefits__item:nth-child(even){
        margin-left: 0;
    }
    .benefits__item:nth-child(3){
        margin-left: 0;
    }
    .benefits__items{
        padding-left: 0;
    }
    .benefits__info{
        width: 100%;
    }
    .specification__inner{
        display: block;
    }
    .specification__box{
        width: 100%;
    }
    .specification__box-2,
    .specification__box-4{
        margin-top: 25px;
    }
    .specification__item--center{
        margin-top: 0;
    }
}
@media(max-width: 680px){
    .product__inner{
        padding-left: 0;
    }
    .title{
        padding-left: 0;
        padding-top: 40px;
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .product__text{
        margin-bottom: 100px;
    }
    .product__text p{
        margin-bottom: 10px;
    }
    .product__slider{
        max-width: 100%;
        &:before{
            width: 100%;
            height: 100%;
        }
        img{
            width: 100%;
        }
    }
    .product__slider-box{
        padding-bottom: 60px;
    }
}
@media(max-width: 540px){
    .title{}
    .top__title{
        display: none;
    }
    .top__text{
        margin: 15px 0 50%;
    }
    .scroll__btn{
        padding: 13px 0 ;
    }
    .slider-btn{
        // display: none;
    }
    .product__slider-box {
        padding-bottom: 0;
    }
    .benefits__num{
        display: none;
    }
    .benefits__item{
        display: block;
    }
    .benefits__img{
        padding: 20px 0;
        &:before{
            top: 8px;
        }
        img{
            display: block;
            margin-left: auto;
        }
    }
}
@media(max-height: 375px) {
    .menu__list-phone{
        padding: 15px 0;
    }
}
@media(max-height: 340px) {
    .menu__list-item{
        margin-bottom: 18px;
    }
}