@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';
@import 'reset';


.header{
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    z-index: 1;
    &__inner{
        @extend %ubuntu-medium;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        line-height: 17px;
        font-size: 15px;
    }
    &__btn{
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 10px;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color: #1C1C1C;
        }
    }
    &__phone{
        @extend %ubuntu-bold;
        font-size: 16px;
        line-height: 18px;
    }
}
.menu{
    &__list-item{
        display: inline-block;
        & + .menu__list-item {
            padding-left: 20px;
        }
    }
}
.top{
    background-image: url("../img/background/header-bg.jpg");
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.4;

    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
        // height: 100vh;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__title{
        @extend %sf-semibold;
        font-size: 96px;
        line-height: 115px;
        margin-bottom: 25px;
    }
    &__text{
        margin: 25px 0 35px;
        max-width: 325px;
    }
    &__social-list{
        display: flex;
    }
    &__social-item{
        display: inline-block;
        & + .top__social-item{
            margin-left: 50px;
        }
    }
    &__social-link{
        opacity: .5;
        transition: all .3s;
        &:hover{
            opacity: 1;
        }
    }
}