@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';
@import 'reset';


.header{
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    z-index: 2;
    &__inner{
        @extend %ubuntu-medium;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        line-height: 17px;
        font-size: 15px;
    }
    &__btn{
        color: #fff;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 10px;
        transition: all .3s;
        cursor: pointer;
        &:hover{
            background-color: #fff;
            color: #1C1C1C;
        }
    }
    &__phone{
        @extend %ubuntu-bold;
        font-size: 16px;
        line-height: 18px;
    }
}
.menu{
    &__list-item{
        display: inline-block;
        & + .menu__list-item {
            padding-left: 20px;
        }
    }
}
.top{
    background-image: url("../img/background/header-bg.jpg");
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
        opacity: 0.4;

    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
        // height: 100vh;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__title{
        @extend %sf-semibold;
        font-size: 96px;
        line-height: 115px;
        margin-bottom: 25px;
    }
    &__text{
        margin: 25px 0 35px;
        max-width: 325px;
    }
    &__social-list{
        display: flex;
    }
    &__social-item{
        display: inline-block;
        & + .top__social-item{
            margin-left: 50px;
        }
    }
    &__social-link{
        opacity: .5;
        transition: all .3s;
        &:hover{
            opacity: 1;
        }
    }
}

.product{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__text{
        max-width: 440px;
        p{
            margin-bottom: 30px;
        }
    }
    &__slider-box{
        position: relative;
        padding-top: 110px;
    }
    &__slider-text{
        @extend %ubuntu-medium;
        width: 285px;
        position: absolute;
        bottom: 30px;
        left: -250px;
        text-align: right;
        font-size: 24px;
        line-height: 28px;
        z-index: 1;
    }
    &__slider{
        max-width: 560px;
        &:before{
            content: "";
            position: absolute;
            width: 560px;
            height: 276px;
            border: 4px solid #fff;
            top: -15px;
            right: -17px;
        }
    }
}
.slider-btn{
    position: absolute;
    padding: 16px 26px;
    border: none;
    background-color: #1C1C1C;
    cursor: pointer;
    transition: all .3s;
    right: 0;
    bottom: -50px;
    z-index: 1;
    svg{
        stroke: #fff;
    }
    &:hover{
    background-color: #ffffff;
        svg{
            stroke: #000;
        }
    }
    &__left{
        right: 60px;
    }
}
.benefits{
    &__items{
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        padding-left: 25px;
    }
    &__item{
        display: flex;
        margin-bottom: 100px;
        align-items: flex-end;
        &:nth-child(even){
            margin-left: 40px;
            transform: translateY(25px);
        }
        &:first-child,
        &:nth-child(3){
            position: relative;
            &:before, &:after{
                content: "";
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 0;
            }
        }
        &:first-child{
            &:before{
                height: 48px;
                width: 245px;
                background-image: url('../img/line-1.svg');
                right: -56px;
                top: 38px;
            }
        }
        &:nth-child(3){
            margin-left: 30px;
            &:before{
                height: 39px;
                width: 254px;
                background-image: url('../img/line-3.svg');
                right: -60px;
                top: 50px;
            }
            &::after{
                height: 62px;
                width: 463px;
                background-image: url('../img/line-2.svg');
                top: -70px;
                right: -54px;
            }
        }
        &:nth-child(4){
            margin-left: 60px;
        }
    }
    &__num{
        @extend %ubuntu-bold;
        font-size: 36px;
        line-height: 41px;
        margin-right: 10px;
    }
    &__img{
        position: relative;
        margin-right: 32px;
        &::before{
            content: '';
            position: absolute;
            width: 193px;
            height: 128px;
            border: 2px solid #fff;
            right: -12px;
            top: -12px;
            z-index: -1;
        }
    }
    &__info{
        width: 300px;
    }
    &__info-title{
        @extend %ubuntu-bold;
        width: 123px;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__info-text{
        font-size: 15px;
        line-height: 17px;
    }
}
.specification{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
    }
    &__item--center{
        margin-right: -40px;
        margin-left: -40px;
    }
    &__box{
        width: 280px;
        position: relative;
        margin-top: 10px;
        &:before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
    }
    &__box-2{
        margin-top: 140px;
    }
    &__box-4{
        margin-top: 160px;
    }
    &__box-1:before{
        background-image: url('../img/usercontent/pointer-1.svg');
        width: 230px;
        height: 115px;
        right: -140px;
        top: 16px;
    }
    &__box-2:before{
        background-image: url('../img/usercontent/pointer-2.svg');
        width: 345px;
        height: 81px;
        right: -325px;
        top: -50px;
    }
    &__box-3:before{
        background-image: url('../img/usercontent/pointer-3.svg');
        width: 258px;
        height: 103px;
        left: -290px;
        top: 16px;
    }
    &__box-4:before{
        background-image: url('../img/usercontent/pointer-4.svg');
        width: 124px;
        height: 89px;
        left: -172px;
        top: -73px;
    }
    &__box-title{
        @extend %ubuntu-bold;
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    &__box-text{
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }
}
.questions{
    &__items{
        max-width: 757px;
        padding-bottom: 15px;
        
    }
    &__item{
        background: rgba(0, 0, 0, 0.3);
        max-width: 690px;
        margin-bottom: 5px;
        &:nth-child(3){
            position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 320px;
            height: 125px;
            top: -33px;
            right: -386px;
            background-image: url('../img/background/questions-bg.png');
        }
        }
    }
    &__item-title{
        @extend %ubuntu-medium;
        font-weight: 500;
        font-size: 21px;
        line-height: 28px;
        color: rgba(#fff, 0.8);
        padding: 20px 10px 24px 40px;
        position: relative;
        cursor: pointer;
        &:after{
            content: url('../img/questions-arrow.svg');
            position: absolute;
            right: -72px;
            top: 0;
            width: 72px;
            height: 67px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__item-text{
        padding: 0 5px 75px 50px;
        font-size: 15px;
        line-height: 22px;
        display: none;
    }
    &__item.questions__item--active{
        .questions__item-title:after{
            transform: rotate(180deg);
        }
        .questions__item-text{
            display: block;
        }
    }
}
.contacts{
    &__inner{
        display: flex;
    }
    &__info{
        width: 240px;
        margin-right: 60px;
    }
    &__info-box{
        margin-bottom: 30px;
    }
    &__info-title{
        @extend %ubuntu-bold;
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    &__info-phone,
    &__info-email{
        font-size: 15px;
        line-height: 22px;
    }
    &__info-email:hover{
        text-decoration: underline;
    }
    &__form{
        width: 570px;
        margin-right: 106px;
    }
    &__form-title{
        @extend %ubuntu-bold;
        font-size: 21px;
        line-height: 24px;
    }
    &__form-text{
        font-size: 15px;
        line-height: 22px;
        margin:12px 0 12px;
    }
    &__form-line{
        display: flex;
        justify-content: space-between;
    }
    &__form-input,
    &__form-textarea{
        @extend %ubuntu-regular;
        background: rgba(0, 0, 0, .5);
        border: none;
        outline: none;
        padding: 15px;
        font-size: 13px;
        line-height: 15px;
        color: #fff;
        &::placeholder{
            color: rgba(#fff, 0.4);
        }
    }

    &__form-input{
        width: 49%;
    }
    &__form-textarea{
    }
    &__form-btn{}
    &__social-list{}
    &__social-item {}
    &__social-link{}
}
.footer{
    &__copy{}
}