<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title mavic
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")

    body
        header.header
            .container
                .header__inner
                    a.logo(href="#")
                        picture.logo__img
                            source(srcset="img/logo-mobile.png" media="max-width: 640px")
                            img(src="img/logo.png", alt="", srcset="")
                    nav.menu 
                        ul.menu__list 
                            li.menu__list-item
                                a(class="menu__item-link" href="#") О ДРОНЕ
                            li.menu__list-item
                                a(class="menu__item-link" href="#") ПРЕИМУЩЕСТВА
                            li.menu__list-item
                                a(class="menu__item-link" href="#") ХАРАКТЕРИСТИКИ
                            li.menu__list-item
                                a(class="menu__item-link" href="#") ВОПРОСЫ
                            li.menu__list-item
                                a(class="menu__item-link" href="#") КОНТАКТЫ
                    .header__info 
                        button.header__btn  Купить
                        a.header__phone(href="tel:80505676767") 8 (050) 567 67 67
            //- a.scroll__btn(href="#")
            //-     img(src="img/arrow-down.svg", alt="", srcset="")
        section.page-section.top
            .page-section__wrapper.top__wrapper
                .container
                    .top__inner
                        h1.top__title Mavic 2 Pro
                        img(src="img/usercontent/mavic.png", alt="")
                        p.top__text Квадрокоптер Dji Mavic 2 Pro с профессиональной камерой Hasselblad
                        ul.top__social-list
                            li.top__social-item 
                                a.top__social-link(href="#")
                                    img(src="img/social/facebook.svg", alt="")
                            li.top__social-item 
                                a.top__social-link(href="#")
                                    img(src="img/social/youtube.svg", alt="")
                            li.top__social-item 
                                a.top__social-link(href="#")
                                    img(src="img/social/instagram.svg", alt="")
                a.scroll__btn(href="#product")
                    img(src="img/arrow-down.svg", alt="", srcset="")

        section.page-section.product#product
            .page-section__wrapper
                .container
                    h3.title.product__title Что такое Mavic 2 Pro?
                    .product__inner
                        .product__text
                            p Дрон Mavic 2 Pro - это инженерное чудо, идеальное для аэросъемки. Дрон обладает всеми лучшими технологиями DJI, он преобразит мир аэросъемки.
                            p Mavic 2 Pro оснащен совершенно новой камерой Hasselblad L1D-20c. Камера L1D-20c работает по уникальной технологии Hasselblad Natural Colour Solution (HNCS)5, позволяющей пользователям делать великолепные снимки с воздуха с разрешением в 20 мегапикселей и потрясающими цветами.
                        .product__slider-box
                            p.product__slider-text Лучшая беспилотная технология аэросъемки
                            .product__slider
                                .product__slider-item
                                    img.product__slider-img(src="img/slider/slide.jpg", alt="")
                                .product__slider-item
                                    img.product__slider-img(src="img/slider/slide.jpg", alt="")
                                .product__slider-item
                                    img.product__slider-img(src="img/slider/slide.jpg", alt="")
                                .product__slider-item
                                    img.product__slider-img(src="img/slider/slide.jpg", alt="")
                                .product__slider-item
                                    img.product__slider-img(src="img/slider/slide.jpg", alt="")
                                .product__slider-item
                                    img.product__slider-img(src="img/slider/slide.jpg", alt="")
                a.scroll__btn(href="#benefits")
                    img(src="img/arrow-down.svg", alt="", srcset="")

        section.page-section.benefits#benefits
            .page-section__wrapper
                .container
                    h3.title.benefits__title Преимущества
                    .benefits__items
                        .benefits__item
                            .benefits__num 1
                            .benefits__img 
                                img(src="img/benefits/benefit-1.jpg", alt="")
                            .benefits__info 
                                h4.benefits__info-title Интеллектуальные режимы
                                p.benefits__info-text Mavic 2 унаследовал 6 стандартных режимов интеллектуальной съемки QuickShot:Roket/Dronie/Circle/Helix/Boomerang/Asteroid.
                        .benefits__item
                            .benefits__num 2
                            .benefits__img 
                                img(src="img/benefits/benefit-3.jpg", alt="")
                            .benefits__info 
                                h4.benefits__info-title ИActive Track 2.0
                                p.benefits__info-text Усовершенствованный режим второго поколения распознаёт и отслеживает объекты ещё точнее, быстрее и умнее.
                        .benefits__item
                            .benefits__num 3
                            .benefits__img 
                                img(src="img/benefits/benefit-3.jpg", alt="")
                            .benefits__info 
                                h4.benefits__info-title Панорамная съемка
                                p.benefits__info-text Mavic 2 поддерживает 4 режима панорамной съёмки: сферическая, 180 градусов, горизонтальная, вертикальная
                        .benefits__item
                            .benefits__num 4
                            .benefits__img 
                                img(src="img/benefits/benefit-4.jpg", alt="")
                            .benefits__info 
                                h4.benefits__info-title Крутая камера!
                                p.benefits__info-text Технология Hyperlapse в четырёх режимах исполнения. Улучшенный фото режим HDR Функция HyperLight для съёмки в условиях слабого освещения 4К съёмка

                a.scroll__btn(href="#specification")
                    img(src="img/arrow-down.svg", alt="", srcset="")

        section.page-section.specification#specification
            .page-section__wrapper
                .container
                    h3.title Характеристики
                    .specification__inner
                        .specification__item 
                            .specification__box
                                h4.specification__box-title Dlog-M 10 бит
                                p.specification__box-text Mavic 2 Pro поддерживает цветовой профиль Dlog-M 10 бит с более широким динамическим диапазоном, дающим больше возможностей для цветокоррекции.
                            .specification__box
                                h4.specification__box-title Камера Hasselblad
                                p.specification__box-text Камера Hasselblad L1D-20С известны эргономичным дизайном и превосходным качеством изображений.
                        .specification__item
                            img(src="img/mavic.png", alt="")
                        .specification__item
                            .specification__box
                                h4.specification__box-title Матрица CMOS 1
                                p.specification__box-text Зона активной работы новой 1-дюймовой матрицы CMOS в четыре раза превышает показатели Mavic Pro
                            .specification__box
                                h4.specification__box-title Видео HDR
                                p.specification__box-text Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и просматривать запись в полном цветовом спектре
                a.scroll__btn(href="#questions")
                    img(src="img/arrow-down.svg", alt="", srcset="")
        section.page-section.questions#questions
            .page-section__wrapper
                .container
                    h3.title Остались вопросы?
                    .questions__items
                        .questions__item
                            .questions__item-title Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?
                            .questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                        .questions__item
                            .questions__item-title Чем Mavic 2 лучше Mavic Pro?  
                            .questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                        .questions__item
                            .questions__item-title Можно ли подключить Mavic 2 к очкам DJI Goggles?
                            .questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                        .questions__item
                            .questions__item-title Является ли Mavic 2 водонепроницаемым？
                            .questions__item-text В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс).
                a.scroll__btn(href="#contacts")
                    img(src="img/arrow-down.svg", alt="", srcset="")
        section.page-section.contacts#contacts
            .page-section__wrapper
                .container
                    h3.title Контакты
                    .contacts__inner 
                        .contacts__info
                            .contacts__info-box
                                .contacts__info-title Киев
                                a.contacts__info-phone(href="tel:+80505676767") +8 (050) 567– 67 – 67
                                a.contacts__info-email(href="mailto:dgi.mavic2pro.kiev@mail.ru") dgi.mavic2pro.kiev@mail.ru
                            .contacts__info-box
                                .contacts__info-title Москва
                                a.contacts__info-phone(href="#tel:+74995676767") +7 (499) 567– 67 – 67
                                a.contacts__info-email(href="mailto:dgi.mavic2pro.moscow@mail.ru") dgi.mavic2pro.moscow@mail.ru
                            .contacts__info-box
                                .contacts__info-title Минск
                                a.contacts__info-phone(href="#tel:+375175676767") +3 (7517) 567– 67 – 67
                                a.contacts__info-email(href="mailto:dgi.mavic2pro.minsk@mail.ru") dgi.mavic2pro.minsk@mail.ru
                        .contacts__form
                            form(action="")
                                h4.contacts__form-title Остались вопросы?
                                p.contacts__form-text Мы обязательно свяжемся с вами в течение двух рабочих дней
                                .contacts__form-line
                                    input.contacts__form-input(type="text" placeholder="Ваше имя")
                                    input.contacts__form-input(type="text" placeholder="Ваше e-mail")
                                    textarea.contacts__form-textarea(placeholder="Что вас интересует?")
                                button.contacts__form-btn(type="submit") отправить
                        ul.contacts__social-list
                            li.contacts__social-item 
                                a.contacts__social-link(href="#")
                                    img(src="img/social/facebook.svg", alt="")
                            li.contacts__social-item 
                                a.contacts__social-link(href="#")
                                    img(src="img/social/youtube.svg", alt="")
                            li.contacts__social-item 
                                a.contacts__social-link(href="#")
                                    img(src="img/social/instagram.svg", alt="")
                //- a.scroll__btn(href="#footer")
                //-     img(src="img/arrow-down.svg", alt="", srcset="")
            footer.footer
                .container
                    p.foote__copy © DJI, 2020
    script(src="js/main.js")